:root {
  --blue-ln: #126fff;
  --bg-white: rgba(254, 254, 254, 1);
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #1a1a1a;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.m-l-10 {
  margin-left: 0.625rem;
}

.m-l-15 {
  margin-left: 0.938rem;
}

.m-l-20 {
  margin-left: 1.25rem;
}

.m-r-15 {
  margin-right: 0.938rem;
}

.p-15 {
  padding: 0.938rem;
}

.p-10 {
  padding: 0.625rem;
}

.p-20 {
  padding: 1.25rem;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-14 {
  font-size: 0.875rem;
}

.f-s-16 {
  font-size: 1rem;
}

.f-s-18 {
  font-size: 1.125rem;
}

.f-s-24 {
  font-size: 1.5rem;
}

.f-w-700 {
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-md-column {
    flex-direction: column;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .justify-md-center {
    justify-content: center;
  }
  .justify-md-space-between {
    justify-content: space-between;
  }
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .m-l-md-10 {
    margin-left: 0.625rem;
  }

  .m-l-md-15 {
    margin-left: 0.938rem;
  }
  .m-l-md-20 {
    margin-left: 1.25rem;
  }
  .p-md-10 {
    padding: 0.625rem;
  }
  .p-md-15 {
    padding: 0.938rem;
  }
  .p-md-20 {
    padding: 1.25rem;
  }
  .f-s-md-12 {
    font-size: 12px;
  }
  .f-s-md-14 {
    font-size: 0.875rem;
  }
  .f-s-md-16 {
    font-size: 1rem;
  }
  .f-s-md-18 {
    font-size: 1.125rem;
  }
  .f-s-md-24 {
    font-size: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
  .d-lg-none {
    display: none;
  }
  .flex-lg-column {
    flex-direction: column;
  }
  .flex-lg-row {
    flex-direction: row;
  }
  .justify-lg-center {
    justify-content: center;
  }
  .justify-lg-space-between {
    justify-content: space-between;
  }
  .m-lg-l-10 {
    margin-left: 0.625rem;
  }
  .m-lg-l-15 {
    margin-left: 0.938rem;
  }
  .m-lg-l-20 {
    margin-left: 1.25rem;
  }
  .f-s-lg-12 {
    font-size: 12px;
  }
  .f-s-lg-14 {
    font-size: 0.875rem;
  }
  .f-s-lg-16 {
    font-size: 1rem;
  }
  .f-s-lg-18 {
    font-size: 1.125rem;
  }
  .f-s-lg-24 {
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
